Repository hyperledger-solang/solang, changes with the owners that CODEOWNERS names for each.
All owners: @seanyoung, @xermicus, @LucasSte

wip on upgradeable proxy test
  integration/substrate/UpgradeableProxy.sol
  integration/substrate/delegate_call.spec.ts
Owners: @xermicus

implement upgradeable proxy MVP as integration test
  integration/substrate/UpgradeableProxy.sol
  integration/substrate/delegate_call.spec.ts
  integration/substrate/upgradeable_proxy.spec.ts
Owners: @xermicus

add codegen test
  tests/codegen_testcases/solidity/substrate_delegate_call.sol
Owners: @seanyoung, @xermicus, @LucasSte

simplify test
  integration/substrate/upgradeable_proxy.spec.ts
Owners: @xermicus

warn about specifying gas and add documentation
  docs/language/functions.rst
  docs/language/interface_libraries.rst
  src/sema/expression/function_call.rs
  tests/contract_testcases/substrate/calls/delegate_call.sol
Owners: @seanyoung, @xermicus, @LucasSte

clippy
  src/sema/expression/function_call.rs
Owners: @seanyoung, @xermicus, @LucasSte

Apply optimizations to modifier CFGs
  src/codegen/cfg.rs
  tests/codegen_testcases/solidity/modifier_opt.sol
Owners: @seanyoung, @xermicus, @LucasSte

improve codegen test
  tests/codegen_testcases/solidity/modifier_opt.sol
Owners: @seanyoung, @xermicus, @LucasSte

clippy
  src/codegen/cfg.rs
Owners: @seanyoung, @xermicus, @LucasSte

add formatting to hover messages
  src/bin/languageserver/mod.rs
Owners: @seanyoung, @xermicus, @LucasSte

push an empty list of diagnostics on didClose event
  src/bin/languageserver/mod.rs
Owners: @seanyoung, @xermicus, @LucasSte

add option to set trace level
  vscode/package.json
Owners: @seanyoung, @xermicus, @LucasSte

store file contents in memory
  src/bin/languageserver/mod.rs
Owners: @seanyoung, @xermicus, @LucasSte

remove debug statements
  src/bin/languageserver/mod.rs
Owners: @seanyoung, @xermicus, @LucasSte

refactoring + comments
  src/bin/languageserver/mod.rs
Owners: @seanyoung, @xermicus, @LucasSte

support multiple unsaved files
  src/bin/languageserver/mod.rs
Owners: @seanyoung, @xermicus, @LucasSte

implement set_code_hash_builtin
  integration/substrate/set_code_hash.sol
  src/emit/substrate/mod.rs
  src/emit/substrate/target.rs
  src/sema/builtin.rs
Owners: @xermicus, @seanyoung, @LucasSte

implement mock VM test
  integration/substrate/set_code_hash.sol
  tests/substrate.rs
  tests/substrate_tests/builtins.rs
Owners: @xermicus, @seanyoung, @LucasSte

implement integration test
  integration/substrate/set_code_hash.sol
  integration/substrate/set_code_hash.spec.ts
Owners: @xermicus

improve test
  tests/codegen_testcases/solidity/modifier_opt.sol
Owners: @seanyoung, @xermicus, @LucasSte

not checks should only check for relevant parts
  tests/codegen_testcases/solidity/modifier_opt.sol
Owners: @seanyoung, @xermicus, @LucasSte

docs
  docs/language/builtins.rst
Owners: @seanyoung, @xermicus, @LucasSte

Optimize modifier CFGs (#1391)
  src/codegen/cfg.rs
  tests/codegen_testcases/solidity/modifier_opt.sol
Owners: @seanyoung, @xermicus, @LucasSte

Apply suggestions from code review
  docs/language/interface_libraries.rst
  integration/substrate/UpgradeableProxy.sol
  integration/substrate/delegate_call.spec.ts
Owners: @seanyoung, @xermicus, @LucasSte

code review suggestions
  docs/language/functions.rst
  docs/language/interface_libraries.rst
  integration/substrate/delegate_call.sol
  src/emit/substrate/target.rs
Owners: @seanyoung, @xermicus, @LucasSte

add link about storage compatibility
  docs/language/builtins.rst
Owners: @seanyoung, @xermicus, @LucasSte

Emit constant strings for runtime errors
  src/codegen/expression.rs
  src/codegen/mod.rs
  src/emit/binary.rs
  src/emit/expression.rs
  src/emit/instructions.rs
  src/emit/math.rs
  src/emit/mod.rs
  src/emit/solana/target.rs
  src/emit/substrate/target.rs
Owners: @seanyoung, @xermicus, @LucasSte

Fix stack overflow in constant folding
  src/codegen/constant_folding.rs
Owners: @seanyoung, @xermicus, @LucasSte

Add test case
  tests/contract_testcases/solana/large_contract.sol
Owners: @seanyoung, @xermicus, @LucasSte

text_buffers and hovers are now protected by the same Mutex
  src/bin/languageserver/mod.rs
Owners: @seanyoung, @xermicus, @LucasSte

remove spurious vscode config
  .vscode/settings.json
Owners: @seanyoung, @xermicus, @LucasSte

Bump Solana, Anchor and Ubuntu
  .github/workflows/release.yml
  .github/workflows/test.yml
  Dockerfile
  README.md
  docs/targets/solana.rst
  integration/anchor/package.json
  integration/anchor/programs/anchor/Cargo.toml
  integration/anchor/tests/anchor.ts
  integration/anchor/tests/call_anchor.spec.ts
  integration/solana/balances.spec.ts
  integration/solana/calls.spec.ts
  integration/solana/create_contract.spec.ts
  integration/solana/errors.spec.ts
  integration/solana/overflow.spec.ts
  integration/solana/package.json
  integration/solana/runtime_errors.spec.ts
  integration/solana/setup.ts
  integration/solana/simple.spec.ts
  integration/solana/system_instruction.spec.ts
  integration/solana/token.spec.ts
  integration/solana/verify_sig.spec.ts
Owners: @seanyoung, @xermicus, @LucasSte

remove spurious vscode config (#1401)
  .vscode/settings.json
Owners: @seanyoung, @xermicus, @LucasSte

Bump Solana, Anchor and Ubuntu (#1389)
  .github/workflows/release.yml
  .github/workflows/test.yml
  Dockerfile
  README.md
  docs/targets/solana.rst
  integration/anchor/package.json
  integration/anchor/programs/anchor/Cargo.toml
  integration/anchor/tests/anchor.ts
  integration/anchor/tests/call_anchor.spec.ts
  integration/solana/balances.spec.ts
  integration/solana/calls.spec.ts
  integration/solana/create_contract.spec.ts
  integration/solana/errors.spec.ts
  integration/solana/overflow.spec.ts
  integration/solana/package.json
  integration/solana/runtime_errors.spec.ts
  integration/solana/setup.ts
  integration/solana/simple.spec.ts
  integration/solana/system_instruction.spec.ts
  integration/solana/token.spec.ts
  integration/solana/verify_sig.spec.ts
Owners: @seanyoung, @xermicus, @LucasSte

compiling the contract to a specific runtime makes the hash of static length
  integration/substrate/set_code_hash.sol
  src/emit/substrate/target.rs
  src/sema/builtin.rs
  tests/substrate_tests/builtins.rs
Owners: @xermicus, @seanyoung, @LucasSte

do only include relevant functions in dispatcher
  integration/substrate/ConstructorDispatch.sol
  integration/substrate/constructor_dispatch.spec.ts
  src/codegen/dispatch/mod.rs
  src/codegen/dispatch/substrate.rs
  src/codegen/mod.rs
  src/emit/substrate/mod.rs
Owners: @xermicus, @seanyoung, @LucasSte

fix codegen tests
  tests/codegen_testcases/solidity/constant_folding.sol
  tests/codegen_testcases/solidity/dead_storage.sol
  tests/codegen_testcases/solidity/scale.sol
  tests/codegen_testcases/solidity/unused_variable_elimination.sol
Owners: @seanyoung, @xermicus, @LucasSte

Access payer account using tx.accounts
  docs/targets/solana.rst
  integration/solana/create_contract.sol
  src/codegen/cfg.rs
  src/codegen/expression.rs
  src/codegen/solana_accounts/account_collection.rs
  src/codegen/solana_accounts/account_management.rs
  src/codegen/solana_deploy.rs
  src/codegen/subexpression_elimination/instruction.rs
  src/codegen/vector_to_slice.rs
  src/emit/instructions.rs
  src/sema/ast.rs
  src/sema/dotgraphviz.rs
  src/sema/expression/member_access.rs
  src/sema/expression/retrieve_type.rs
  tests/codegen_testcases/solidity/constructor_with_metas.sol
  tests/codegen_testcases/solidity/payer_access.sol
  tests/codegen_testcases/solidity/solana_payer_account.sol
  tests/contract_testcases/solana/accounts/unrecognized_account.sol
  tests/solana.rs
  tests/solana_tests/account_access.rs
  tests/solana_tests/create_contract.rs
  tests/solana_tests/mod.rs
Owners: @seanyoung, @xermicus, @LucasSte

Add reviewers' suggestions
  src/codegen/expression.rs
  src/sema/ast.rs
  src/sema/dotgraphviz.rs
  src/sema/expression/member_access.rs
  src/sema/expression/retrieve_type.rs
Owners: @seanyoung, @xermicus, @LucasSte

Access payer account using `tx.accounts.account_name` (#1384)
  docs/targets/solana.rst
  integration/solana/create_contract.sol
  src/codegen/cfg.rs
  src/codegen/expression.rs
  src/codegen/solana_accounts/account_collection.rs
  src/codegen/solana_accounts/account_management.rs
  src/codegen/solana_deploy.rs
  src/codegen/subexpression_elimination/instruction.rs
  src/codegen/vector_to_slice.rs
  src/emit/instructions.rs
  src/sema/ast.rs
  src/sema/dotgraphviz.rs
  src/sema/expression/member_access.rs
  src/sema/expression/retrieve_type.rs
  tests/codegen_testcases/solidity/constructor_with_metas.sol
  tests/codegen_testcases/solidity/payer_access.sol
  tests/codegen_testcases/solidity/solana_payer_account.sol
  tests/contract_testcases/solana/accounts/unrecognized_account.sol
  tests/solana.rs
  tests/solana_tests/account_access.rs
  tests/solana_tests/create_contract.rs
  tests/solana_tests/mod.rs
Owners: @seanyoung, @xermicus, @LucasSte

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0

* @seanyoung @xermicus @LucasSte
src/emit/substrate/ @xermicus
src/emit/solana/ @LucasSte @seanyoung
integration/substrate/ @xermicus
integration/subxt-tests/ @xermicus
integration/solana/ @LucasSte @seanyoung
integration/anchor/ @LucasSte @seanyoung
