Repository hyperledger-solang/solang, changes with the owners that CODEOWNERS names for each.
All owners: @seanyoung, @xermicus, @LucasSte

Move stdlib build output to target folder
  src/emit/binary.rs
  stdlib/Makefile
Owners: @seanyoung, @xermicus, @LucasSte

Update docs/language/interface_libraries.rst
  docs/language/interface_libraries.rst
Owners: @seanyoung, @xermicus, @LucasSte

constructors dont have fallback or receive
  src/codegen/dispatch/substrate.rs
  tests/codegen_testcases/solidity/substrate_dispatch.sol
Owners: @seanyoung, @xermicus, @LucasSte

clear up docs
  docs/language/functions.rst
Owners: @seanyoung, @xermicus, @LucasSte

Substrate: Implement `delegatecall()` (#1390)
  docs/language/functions.rst
  docs/language/interface_libraries.rst
  integration/substrate/UpgradeableProxy.sol
  integration/substrate/delegate_call.sol
  integration/substrate/delegate_call.spec.ts
  integration/substrate/upgradeable_proxy.spec.ts
  src/emit/substrate/mod.rs
  src/emit/substrate/target.rs
  src/sema/expression/function_call.rs
  tests/codegen_testcases/solidity/substrate_delegate_call.sol
  tests/contract_testcases/substrate/builtins/call.sol
  tests/contract_testcases/substrate/calls/delegate_call.sol
Owners: @seanyoung, @xermicus, @LucasSte

no need to check on the error message
  tests/codegen_testcases/solidity/substrate_dispatch.sol
Owners: @seanyoung, @xermicus, @LucasSte

upgradeable proxies now must use initializer functions instead of constructors
  integration/substrate/UpgradeableProxy.sol
  integration/substrate/upgradeable_proxy.spec.ts
Owners: @xermicus

implement additional test in mock VM
  tests/codegen_testcases/solidity/substrate_dispatch.sol
  tests/substrate.rs
  tests/substrate_tests/calls.rs
Owners: @seanyoung, @xermicus, @LucasSte

add tests for the function update_file_contents
  src/bin/languageserver/mod.rs
Owners: @seanyoung, @xermicus, @LucasSte

remove duplicated code
  src/emit/substrate/mod.rs
Owners: @xermicus

Move stdlib build output to target folder (#1403)
  src/emit/binary.rs
  stdlib/Makefile
Owners: @seanyoung, @xermicus, @LucasSte

Runtime error strings must be LLVM constant strings instead of dynamically allocated (#1400)
  src/codegen/constant_folding.rs
  src/codegen/expression.rs
  src/codegen/mod.rs
  src/emit/binary.rs
  src/emit/expression.rs
  src/emit/instructions.rs
  src/emit/math.rs
  src/emit/mod.rs
  src/emit/solana/target.rs
  src/emit/substrate/target.rs
  tests/contract_testcases/solana/large_contract.sol
Owners: @seanyoung, @xermicus, @LucasSte

Change log_runtime_error API
  src/emit/substrate/target.rs
Owners: @xermicus

Change log_runtime_error API (#1407)
  src/emit/substrate/target.rs
Owners: @xermicus

Ensure that a constructor cannot be run twice on the same data account
  integration/solana/simple.spec.ts
  src/codegen/dispatch/solana.rs
  tests/solana_tests/create_contract.rs
Owners: @LucasSte, @seanyoung, @xermicus

get rid of dispatch_no
  src/codegen/dispatch/mod.rs
  src/codegen/dispatch/solana.rs
  src/codegen/dispatch/substrate.rs
  src/codegen/mod.rs
  src/codegen/solana_accounts/account_management.rs
  src/codegen/yul/tests/expression.rs
  src/emit/substrate/mod.rs
  src/sema/ast.rs
  src/sema/contracts.rs
Owners: @seanyoung, @xermicus, @LucasSte

use explicit selectors in test
  tests/substrate_tests/calls.rs
Owners: @seanyoung, @xermicus, @LucasSte

Added get_file_contents_of_file_no
  src/file_resolver.rs
Owners: @seanyoung, @xermicus, @LucasSte

fixed name
  src/file_resolver.rs
Owners: @seanyoung, @xermicus, @LucasSte

Ensure that a constructor cannot be run twice on the same data account (#1402)
  integration/solana/simple.spec.ts
  src/codegen/dispatch/solana.rs
  tests/solana_tests/create_contract.rs
Owners: @LucasSte, @seanyoung, @xermicus

Fix undefined variable detection
  src/codegen/undefined_variable.rs
  tests/contract_testcases/solana/unused_variable.sol
Owners: @seanyoung, @xermicus, @LucasSte

Apply suggestions from code review
  docs/language/builtins.rst
Owners: @seanyoung, @xermicus, @LucasSte

Added get_contents_of_file_no (#1408)
  src/file_resolver.rs
Owners: @seanyoung, @xermicus, @LucasSte

Substrate: Implement builtin for `set_code_hash` API (#1397)
  docs/language/builtins.rst
  integration/substrate/set_code_hash.sol
  integration/substrate/set_code_hash.spec.ts
  src/emit/substrate/mod.rs
  src/emit/substrate/target.rs
  src/sema/builtin.rs
  tests/substrate.rs
  tests/substrate_tests/builtins.rs
Owners: @seanyoung, @xermicus, @LucasSte

improve integration test
  integration/substrate/ConstructorDispatch.sol
  integration/substrate/constructor_dispatch.spec.ts
Owners: @xermicus

simplify test
  integration/substrate/upgradeable_proxy.spec.ts
  tests/substrate_tests/calls.rs
Owners: @xermicus, @seanyoung, @LucasSte

increase timeout for tornado integration tests
  integration/substrate/tornado.spec.ts
Owners: @xermicus

improve integration test
  integration/substrate/ConstructorDispatch.sol
  integration/substrate/constructor_dispatch.spec.ts
Owners: @xermicus

implement additional test in mock VM
  tests/codegen_testcases/solidity/substrate_dispatch.sol
  tests/substrate.rs
  tests/substrate_tests/calls.rs
Owners: @seanyoung, @xermicus, @LucasSte

fix codegen tests
  tests/codegen_testcases/solidity/constant_folding.sol
  tests/codegen_testcases/solidity/dead_storage.sol
  tests/codegen_testcases/solidity/scale.sol
  tests/codegen_testcases/solidity/unused_variable_elimination.sol
Owners: @seanyoung, @xermicus, @LucasSte

constructors dont have fallback or receive
  src/codegen/dispatch/substrate.rs
  tests/codegen_testcases/solidity/substrate_dispatch.sol
Owners: @seanyoung, @xermicus, @LucasSte

get rid of dispatch_no
  src/codegen/dispatch/mod.rs
  src/codegen/dispatch/solana.rs
  src/codegen/dispatch/substrate.rs
  src/codegen/mod.rs
  src/codegen/solana_accounts/account_management.rs
  src/codegen/yul/tests/expression.rs
  src/emit/substrate/mod.rs
  src/sema/ast.rs
  src/sema/contracts.rs
Owners: @seanyoung, @xermicus, @LucasSte

use explicit selectors in test
  tests/substrate_tests/calls.rs
Owners: @seanyoung, @xermicus, @LucasSte

upgradeable proxies now must use initializer functions instead of constructors
  integration/substrate/UpgradeableProxy.sol
  integration/substrate/upgradeable_proxy.spec.ts
Owners: @xermicus

increase timeout for tornado integration tests
  integration/substrate/tornado.spec.ts
Owners: @xermicus

simplify test
  integration/substrate/upgradeable_proxy.spec.ts
  tests/substrate_tests/calls.rs
Owners: @xermicus, @seanyoung, @LucasSte

no need to check on the error message
  tests/codegen_testcases/solidity/substrate_dispatch.sol
Owners: @seanyoung, @xermicus, @LucasSte

remove duplicated code
  src/emit/substrate/mod.rs
Owners: @xermicus

do only include relevant functions in dispatcher
  integration/substrate/ConstructorDispatch.sol
  integration/substrate/constructor_dispatch.spec.ts
  src/codegen/dispatch/mod.rs
  src/codegen/dispatch/substrate.rs
  src/codegen/mod.rs
  src/emit/substrate/mod.rs
Owners: @xermicus, @seanyoung, @LucasSte

Fix undefined variable detection (#1409)
  src/codegen/undefined_variable.rs
  tests/contract_testcases/solana/unused_variable.sol
Owners: @seanyoung, @xermicus, @LucasSte

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0

* @seanyoung @xermicus @LucasSte
src/emit/substrate/ @xermicus
src/emit/solana/ @LucasSte @seanyoung
integration/substrate/ @xermicus
integration/subxt-tests/ @xermicus
integration/solana/ @LucasSte @seanyoung
integration/anchor/ @LucasSte @seanyoung
